## Base requirements
Flask==0.12
Flask-Redis==0.3.0
Flask-SQLAlchemy==2.1
gunicorn==19.6.0
psycopg2==2.6.2
icalendar==3.11.1

## The following requirements were added by pip freeze:
click==6.6
itsdangerous==0.24
Jinja2==2.8.1
MarkupSafe==0.23
python-dateutil==2.6.0
pytz==2016.10
redis==2.10.5
six==1.10.0
SQLAlchemy==1.1.4
Werkzeug==0.11.15
